.contact-section {
  min-height: 100vh;
    position: relative;
    background: linear-gradient(135deg, rgb(10, 15, 41), rgb(26, 26, 46));
    overflow: hidden;
    padding: 120px 0px 60px;
}

.contact-container {
  /* background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  width: 600px;
  text-align: center;
  margin-top: 2rem;
  max-height: 80vh; 
  overflow-y: auto; 
  margin-top: 4rem; */
  backdrop-filter: blur(10px);
    box-shadow: rgba(255, 215, 0, 0.1) 0px 0px 50px;
    width: 50vw;
    background: rgba(26, 26, 46, 0.7);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 215, 0, 0.1);
    border-image: initial;
    border-radius: 20px;
    margin: 0px auto;
    padding: 2rem;
    overflow-y: auto;
}

.contact-title {
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: rgba(255, 215, 0, 0.3) 0px 0px 30px;
    background: linear-gradient(45deg, gold, rgb(255, 140, 0)) text;
}

/* .contact-subtitle {
  margin-top: 5px;
  margin-bottom: 1em;
  color: #ffd700;
  font-size: 15px;
} */


.contact-form .ant-form-item {
  margin-bottom: 1rem;
}

.cosmic-input {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
}

.cosmic-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contactUs-submit-button {
  width: 20vw;
  background-color: #ffd700;
  border: none;
  color: #1a1a2e;
  font-weight: bold;
  /* margin-left: 13rem; */
  margin: auto;
  display: block;
}

.submit-button:hover {
  background-color: #e6c200;
}
.signup-link {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.signup-link-text {
  color: #ffd700;
  font-weight: bold;
  text-decoration: none;
}

.signup-link-text:hover {
  text-decoration: underline;
}

.forgot-link {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
}
